@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

/*grid*/
.grid{
	display: grid;
}

.grid-template-columns-5{
	grid-template-columns: 1fr 5fr 2fr;
}

.grid-template-columns-4{
	grid-template-columns: 4fr 1fr 1fr;
}


.grid-template-columns-3{
	grid-template-columns: 1fr 6fr 1fr;
}

.grid-template-columns-2{
	grid-template-columns: 4fr 3fr;
}

.grid-template-columns-1{
	grid-template-columns: 1fr 3fr;
}

/*flex*/
.container-flex{
	display: flex;
}

.grow {
	flex-grow: 1;
}

.center {
	align-items: center;
}

/*geral*/
body{
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

header{
	padding: 17px 62px 12px;
	box-shadow: 0px 0px 4px grey;
}

header div#cabecalho{
	text-align: center;
	height: 50px;
	margin: 0px;
}

header div#cabecalho div svg{
	color: #1087ff;
}

header div#cabecalho div div#bolinha{
	margin: 0;
	padding: 0;
	display: inline-block;
	background-color: #00893c;
	border-radius: 100%;
	width: 8px;
	height: 8px;
}

header div#cabecalho div div#black{
	display: inline;
}

header div#cabecalho div div#black h5{
	margin: 0;
	margin-top: 2px;
	padding: 0;
	display: inline-block;
	font-size: 16px;
	color: #575757;
}

header div#cabecalho div div#black pre{
	margin: 0;
	padding: 0;
	display: inline-block;
	color: #8995a0;
	font-size: 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

header div#cabecalho div div#barra{
	width: 580px;
	border-width: 1px;
	border-style: solid;
	border-color: #e2eaf0;
	height: 30px;
	background-color: #fafcfd;
	border-radius: 3px;
	text-align: left;
	padding: 10px 0px 0px 14px;
	margin-left: 180px;
}

header div#cabecalho div div#barra p{
	font-size: 16px;
	color: rgb(195, 201, 208);
	margin: 0;
	margin-left: 8px;
	padding: 0;
	display: inline-block;
}

header nav#menuNav div{
	height: 22px;
	font-weight: bold;
	color: #3e4851;
	padding-top: 5px;
}

header nav#menuNav div img{
	display: inline-block;
}

hr{
	border-color: rgba(255, 255, 255, 0.2);
}

section{
	display: inline-block;
	float: left;
}

section div#noticias{
	padding: 22px 62px 0px;

}

section div#numeros{
	text-align: right;
}

section div#numeros div.linha{
	border-width: 0;
	border-top-width: 1px;
	border-style: inset;
	border-color: rgba(255, 255, 255, 0.2);
	width: calc((100% - 250px));
	height: 1px;
	display: inline-block;
}

section div div.circulo{
	display: block;
	border-radius: 100%;
	border: 1px solid gainsboro;
	display: inline-block;
	width: 28px;
	height: 28px;
	text-align: center;
	color: #23282d;
	font-weight: bold;
}

section div div.circulo.active{
	border: 2px solid #1087ff;
	color: #1087ff;
}

section div#noticias div#noticiaMaior img{
	border-radius: 8px;
}

section div#noticias div#noticiaMaior h3{
	margin: 10px 0px;
	color: #1087ff;
	font-size: 18px;
	font-weight: normal;
}

section div#noticias div#noticiaMaior h1{
	margin: 10px 0px;
	font-size: 32px;
	font-weight: bold;
}

section div#noticias div#noticiaMenor{
	margin-left: 18px;
}

section div#noticias div#noticiaMenor div.imagens div{
	margin: 0px 26px 12px 0px;
}

section div#noticias div#noticiaMenor div.imagens div img{
	border-radius: 8px;
}

section div#noticias div#noticiaMenor div.titulos div{
	margin: 28px 0px 0px 0px;
}

section div#noticias div#noticiaMenor div.titulos div h3{
	margin: 0;
	color: #1087ff;
	font-size: 18px;
	font-weight: normal;
	display: inline-block;
}

section div#noticias div#noticiaMenor div.titulos div h1{
	display: inline-block;
	margin-top: 5px;
	font-size: 20px;
}

section div#maisLidas{
	height: 500px;
	margin: 0px 0px 20px 62px;
	width: 830px;
	padding: 0;
	display: inline-block;
	float: left;
}

section div#maisLidas h3{
	font-size: 24px;
	margin: 0;
	margin-top: 22px;
	display: inline-block;
}

section div#maisLidas div#datas{
	display: inline-block;
	width: 698px;
	text-align: right;
}

section div#maisLidas div#datas div.data{
	display: inline-block;
	padding: 5px 15px;
	margin: 0px 2px 0px 12px;
	color: #8995a0;
	font-weight: bold;
}

section div#maisLidas div#datas div.data.active{
	color: #3e4851;
	background-color: #f1f5f8;
	border-radius: 4px;
}

section div#maisLidas div#listaNoticias ul{
	list-style: none;
	margin: 0;
	margin-top: 14px;
	padding: 0;
}

section div#maisLidas div#listaNoticias ul li{
	display: inline-block;
	float: left;
	width: 413px;
}

section div#maisLidas div#listaNoticias ul li img{
	border-radius: 8px;
}

section div#maisLidas div#listaNoticias ul li div{
	display: inline-block;
	width: 200px;
	height: 128px;
	margin: 14px 0px 0px 20px;
}

section div#maisLidas div#listaNoticias ul li div h4{
	display: inline-block;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-size: 18px;
	color: #575757;
}

section div#maisLidas div#listaNoticias ul li div h5{
	display: inline-block;
	margin: 0;
	margin-top: 4px;
	padding: 0;
	color: #8995a0;
	font-size: 16px;
	font-weight: normal;
}

section div#especiais{
	display: inline-block;
	width: 358px;
}

section div#especiais h3{
	font-size: 24px;
	margin: 0;
	margin-top: 22px;
	display: block;
}

section div#especiais div.especial{
	list-style: none;
	margin: 18px 0px 8px;
	padding: 0;
	display: inline-block;
	width: 358px;
}

section div#especiais div.especial img{
	border-radius: 8px;
	margin-top: 10px;
}

section div#especiais div.especial div{
	margin: 0;
	padding: 0;
	width: 204px;
	display: inline-block;
	float: right;
}

section div#especiais div.especial div h6{
	color: #e2ac55;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

section div#especiais div.especial div h4{
	color: #575757;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

section div#especiais div.especial div h5{
	color: #8995a0;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0;
}

section div#especiais hr{
	margin: 0;
}

footer{
	margin-top: 20px;
	border-width: 0;
	border-top-width: 1px;
	border-style: inset;
	border-color: rgba(255, 255, 255, 0.2);
	background-color: #f6f8fa;
	float: left;
	display: inline-block;
}

footer div#categorias{
	margin: 0px 62px;
	color: #414141;
	height: 274px;
}

footer div#categorias ul{
	list-style: none;
	height: 300px;
	padding: 0;
}

footer div#categorias ul li h4{
	font-size: 18px;
	display: inline-block;
	margin-top: 16px;
}

footer div#categorias ul#listaMaior li#liMaior{
	display: block;
	width: 20%;
	margin: 0;
}

footer div#categorias ul#listaMaior li ul.listaMenor li{
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 18px;
}

footer div#sobre{
	background-color: rgba(219,225,229,.5);
	padding: 20px 62px 10px;
	color: black;
}

footer div#sobre div#sobre1{
	margin: 20px 0px 34px 0px;
}

footer div#sobre div#sobre1 ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

footer div#sobre div#sobre1 ul li{
	display: inline-block;
	margin-right: 18px;
	margin-top: 8px;
	padding: 0;
	color: black;
	text-transform: uppercase;
	font-weight: bold;
}

footer div#sobre div#sobre1 div svg{
	color: #363436;
}

footer div#sobre div#sobre1 div h5{
	text-transform: uppercase;
	color: #030303;
	margin: 0;
	display: inline-block;
}

footer div#sobre div#sobre1 div p{
	text-transform: uppercase;
	margin: 0;
	font-size: 13px;
	display: inline-block;
}

footer div#sobre nav#navBaixo{
	margin: 18px 0px 10px 0px;
	font-size: 14px;
}